<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VQA Frontend</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h4>VGGPT2 Web Demo</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h4><span class="badge badge-info">Sample <span id="sample_id">{{ sample_id }}</span></span></h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <img class="rounded" width="400" height="400" src="{{ image_href }}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4><span class="badge badge-info">Output sequence</span></h4>
                <p>{{ output }}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h4><span class="badge badge-info">Output maps</span></h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <img class="w-100 rounded" src="{{ output_href }}">
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>