<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VQA Web Frontend - Home</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="bg-dark">
<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h2 class="text-white">Towards Open-Ended VQA Models using Transformers</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <p class="text-white">
                Select one of the images below or upload one to begin.
            </p>
        </div>
    </div>

    <form action="/upload/" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="custom-file input-group">
                    <input type="file" class="custom-file-input" name="image" id="image">
                    <label class="custom-file-label" for="customFile">Upload an image</label>
                </div>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary" value="Upload">
            </div>
        </div>
    </form>

    {{ images | safe }}
</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
</script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>